{% extends 'base/base.html' %}
{% load static %}
{% block extraHead %}{% endblock extraHead %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="flex mx-auto justify-center items-center">
    
    <div class="flex space-x-4 my-8">
        <input type="text" id="goToClassname" name="classname" placeholder="Enter classroom ID" class="px-3 py-2 bg-gray-100 rounded-lg border focus:border-gray-200 w-full" required/>
        <button type="submit" onclick="go_to_class(`{{ request.build_absolute_uri }}`)"
            class="px-3 py-2 flex w-56 justify-center items-center bg-blue-700 hover:bg-blue-800 text-white rounded-lg">
            Join
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
            
        </button>
    </div>

</div>
<div>
    <h1 class="text-4xl font-extrabold text-gray-900 mb-6">Classrooms</h1>
    <div class="flex flex-wrap my-8 w-full">
        {% for classroom in classrooms %}
            <div class="w-1/4 p-3">
                <div class="p-6 bg-gray-100 rounded-lg">
                    <div class="flex justify-between items-center mb-3">
                        <div class="font-semibold ">{{ classroom.name }}</div>
                        <div class="text-gray-500 text-xs">{{ classroom.timestamp|date }}</div>
                    </div>
                    <hr class="mb-3">
                    <div class="mb-1 text-sm">Code: {{ classroom.slug }}</div>
                    <div class="mb-3 text-sm">Owner: {{ classroom.created_by }}</div>
                    <div class="flex justify-between items-center">
                        <a href="/{{ classroom.slug }}" class="text-blue-700 text-md py-1 rounded-md flex justify-center items-center">
                            Join Class
                            <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                            </svg>
                            
                        </a>
                        {% if request.user == classroom.created_by %}
                        <a href="/delete/{{ classroom.slug }}" class="hover:text-red-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="flex w-full h-full min-h-screen">
    <div class="flex flex-col w-1/2 justify-center -mt-64">
        <h1 class="text-4xl font-extrabold text-gray-900 mb-6">Welcome to Better Class</h1>
        <div>
            <a href="{% url 'signup' %}" class="text-blue-700 underline">Create an account</a> to join classes.
        </div>
    </div>
    <div class="flex w-1/2 justify-center -mt-64">
        <img src="{% static 'img/home.svg' %}" alt="">
    </div>
</div>
{% endif %}
{% endblock content %}

{% block extraFoot %}{% endblock extraFoot %}