{% extends 'base/base.html' %}
{% load static %}
{% block extraHead %}{% endblock extraHead %}

{% block content %}

{% if request.user.is_authenticated %}
{% load socialaccount %}
<div class="flex mx-auto justify-center items-center">
    
    <div class="flex space-x-4 my-8">
        <input type="text" id="goToClassname" name="classname" placeholder="Enter clasroom ID" class="px-3 py-2 bg-slate-100 rounded-lg border focus:border-slate-200 w-full" required/>
        <button type="submit" onclick="goToClass(`{{ request.build_absolute_uri }}`)"
            class="px-3 py-2 flex w-56 justify-center items-center bg-blue-700 hover:bg-blue-800 text-white rounded-lg">
            Join
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
            
        </button>
    </div>

</div>
<div>
    <h1 class="text-4xl font-extrabold text-slate-900 mb-6">Classrooms</h1>
    <div class="flex flex-wrap my-8 w-full">
        {% for classroom in classrooms %}
            <div class="w-1/4 p-3">
                <div class="px-6 pt-6 pb-4 bg-slate-100 rounded-lg">
                    <div class="flex justify-between items-center mb-3">
                        <div class="font-semibold flex items-center justify-center">
                            {{ classroom.name }}
                            {% if classroom.oneway %}
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-3" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                                </svg>
                            {% else %}  
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-3" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                                </svg>
                            {% endif %}
                        </div>
                        <div class="text-slate-500 text-xs">{{ classroom.timestamp|date }}</div>
                    </div>
                    <hr class="mb-3">   
                    <div class="mb-1 text-sm">Code: {{ classroom.slug }}</div>
                    <div class="mb-3 text-sm">Created By: {{ classroom.created_by.first_name }} {{ classroom.created_by.last_name }}</div>
                    <div class="flex justify-between items-center">
                        <div class="flex">
                            <a href="/{{ classroom.slug }}" class="mr-2 text-blue-700 text-md font-semibold py-1 rounded-md flex justify-center items-center bg-blue-100 px-3 p-1 rounded-full">
                                Join Class
                                <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                                </svg>
                            </a>
                            {% if classroom.hasNote %}
                                <a href="/notes/{{ classroom.slug }}" target="_blank" class="text-yellow-600 text-smrounded-md h-[35px] w-[35px] flex justify-center items-center bg-yellow-50 p-1 rounded-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                        {% if request.user == classroom.created_by %}
                        <a href="/delete/{{ classroom.slug }}" class="hover:text-red-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="flex w-full h-[calc(100vh-100px)]  ">
    <div class="flex flex-col w-1/2 justify-center -mt-64">
        <h1 class="text-4xl font-bold text-slate-900 mb-6">Visualize your ideas in a new and collaborative way.</h1>
        <p class="text-lg font-normal text-slate-600 mb-6">Sketch your ideas whiteboard-style while benefiting from the access and connectivity of an interactive canvas, on mobile, or right from your web browser</p>
        <div>
            
            <form action="{% provider_login_url 'google' %}" method="POST">
                {% csrf_token %}
                <button class="bg-slate-100 text-sm md:text-base font-medium px-4 py-2 outline-none rounded-md" type="submit">
                    <span class="flex items-center gap-2">
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9527 11.9943C21.9527 11.2154 21.8828 10.4665 21.753 9.74756H11.4082V13.9963H17.3195C17.0649 15.3693 16.291 16.5326 15.1277 17.3114V20.0674H18.6775C20.7545 18.1552 21.9527 15.3393 21.9527 11.9943Z" fill="#4285F4"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4088 22.7285C14.3745 22.7285 16.8608 21.7449 18.6781 20.0674L15.1284 17.3114C14.1448 17.9705 12.8867 18.3599 11.4088 18.3599C8.54804 18.3599 6.1266 16.4277 5.26287 13.8315H1.59326V16.6774C3.4006 20.2671 7.11515 22.7285 11.4088 22.7285Z" fill="#34A853"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.2622 13.8322C5.04253 13.1731 4.91771 12.4692 4.91771 11.7452C4.91771 11.0213 5.04253 10.3173 5.2622 9.65832V6.8125H1.5926C0.848693 8.29532 0.424316 9.97285 0.424316 11.7452C0.424316 13.5176 0.848693 15.1952 1.5926 16.678L5.2622 13.8322Z" fill="#FBBC05"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4088 5.12981C13.0215 5.12981 14.4693 5.68399 15.6077 6.77239L18.758 3.62203C16.8558 1.84963 14.3695 0.76123 11.4088 0.76123C7.11515 0.76123 3.4006 3.22261 1.59326 6.81234L5.26287 9.65815C6.1266 7.06197 8.54804 5.12981 11.4088 5.12981Z" fill="#EA4335"/>
                        </svg>
                        Login with Google
                    </span>
                </button>
            </form>
        </div>
    </div>
    <div class="flex w-1/2 justify-center -mt-64">
        <img src="{% static 'img/home.svg' %}" alt="">
    </div>
</div>
{% endif %}
{% endblock content %}

{% block extraFoot %}{% endblock extraFoot %}