{% extends 'base/base.html' %}
{% load static %}
{% block extraHead %}{% endblock extraHead %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="flex mx-auto justify-center items-center">
    
    <div class="flex space-x-4 ml-6">
        <input type="text" id="goToClassname" name="classname" placeholder="Enter clasroom ID" class="p-3 bg-gray-100 rounded-lg border focus:border-gray-200 w-full" required/>
        <button type="submit" onclick="go_to_class(`{{ request.build_absolute_uri }}`)"
            class="px-3 py-2 flex w-56 justify-center items-center bg-blue-700 hover:bg-blue-800 text-white rounded-lg">
            Join
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
        </button>
    </div>

    <div>

    </div>
</div>
{% endif %}
{% endblock content %}

{% block extraFoot %}{% endblock extraFoot %}