<!-- navbar goes here -->
<nav class="absolute top-0 w-screen">
    <div class="mx-auto max-w-screen">
        <div class="flex justify-between shadow-md px-12">

            <div class="flex space-x-4">
                <!-- logo -->
                <div>
                    <a href="{% url 'home' %}" class="flex items-center py-8 px-2 text-gray-700 hover:text-gray-900">
                        <svg class="h-6 w-6 mr-1 text-blue-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
                        </svg>
                        <span class="font-bold">Better Class</span>
                    </a>
                </div>
            </div>


            <div class="md:flex items-center">
                {% if request.user.is_authenticated %}
                    <div class="flex justify-center mr-6">
                        <div x-data="{ createClass: false }" class="relative my-2">
                            <button @click="createClass = !createClass" class="relative z-10 block px-3 py-2 flex w-60 mr-6 justify-center items-center bg-blue-700 hover:bg-blue-800 text-white rounded-lg">
                                Create Classroom
                                <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                </svg>
                            </button>

                            <div x-show="createClass" @click="createClass = false" class="fixed inset-0 h-full w-full z-10"></div>

                            <div x-show="createClass" class="absolute right-0 mt-2 p-4 w-auto bg-white rounded-md shadow-xl z-20">
                                <form action="" method="POST">{% csrf_token %}
                                    <div class="flex flex-col space-y-4">
                                        <input type="text" name="classname" placeholder="Classroom Name" class="p-3 w-96 bg-gray-100 rounded-lg border focus:border-gray-200"  required/>
                                        <label class="inline-flex items-center">
                                            <input type="checkbox" class="form-checkbox" name="oneway"/>
                                            <span class="ml-2">One way classroom?</span>
                                        </label>
                                        <button type="submit" class="px-4 py-2 ml-auto flex w-max justify-center items-center bg-blue-700 hover:bg-blue-800 text-white rounded-lg">
                                            Create  
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{ request.user }}
                    <div class="flex justify-center">
                        <div x-data="{ dropdownOpen: false }" class="relative my-2">
                            <button @click="dropdownOpen = !dropdownOpen" class="relative z-10 block rounded-md p-2 focus:outline-none">
                                <svg class="h-5 w-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                            </button>

                            <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>

                            <div x-show="dropdownOpen" class="absolute right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-xl z-20">
                                <a href="{% url 'profile' %}" class="block px-4 py-2 text-sm capitalize text-gray-700 hover:bg-blue-700 hover:text-white">
                                    Profile
                                </a>
                                <a href="#" class="block px-4 py-2 text-sm capitalize text-gray-700 hover:bg-blue-700 hover:text-white">
                                    Help
                                </a>
                                <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm capitalize text-gray-700 hover:bg-blue-700 hover:text-white">
                                    Sign Out
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'signin' %}" class="px-3 py-2 w-48 flex justify-center items-center border-2 border-blue-700 text-blue-700 hover:bg-blue-700 hover:text-white rounded-lg mr-4">Signin</a>
                    <a href="{% url 'signup' %}" class="px-3 py-2 w-48 flex justify-center items-center border-2 border-blue-700 bg-blue-700 hover:bg-blue-800 text-white rounded-lg">Create account</a>
                {% endif %}
            </div>

            <!-- mobile button goes here -->
            <div class="md:hidden flex items-center">
                <button class="mobile-menu-button">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>

        </div>
    </div>

    <!-- mobile menu -->
    <div class="mobile-menu hidden md:hidden">
        <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Classroom</a>
        <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">About Us</a>
    </div>
</nav>