html, body {
    font-family: 'Inter', sans-serif !important;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;    
}

* {
    outline: none;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #7f7f7f;
    border-radius: 10px;
}
#currentCanvas{
    display: block;
    cursor: crosshair;
}

#draw-color-select{
    display: inline-block;
}

#draw-clear{
    display: inline-block;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
}

.active {
    padding: 2px !important;
    border: 3px solid #2563eb !important;
    border-radius: 50%;;
}