{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap" rel="stylesheet">
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
    <title>BetterClass | {{ title }}</title>
</head>

<body>
    <div class="max-w-screen max-h-screen flex">
        <div class="flex flex-col w-4/5 h-screen p-4">
            <div class="message-area h-full mb-4 relative">
                {% if classroom.created_by == request.user %}
                    <div class="absolute w-auto h-12 bg-gray-200 rounded-lg left-0 flex justify-center items-center px-2">
                        <div class="flex">
                            <div class="flex h-8 bg-blue-700 text-white py-1 px-3 rounded-md justify-center items-center" id="white" onclick="color(this)">
                                Eraser
                                <svg class="ml-2 h-4 w-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke="currentColor" clip-rule="evenodd"><path d="M5.662 23l-5.369-5.365c-.195-.195-.293-.45-.293-.707 0-.256.098-.512.293-.707l14.929-14.928c.195-.194.451-.293.707-.293.255 0 .512.099.707.293l7.071 7.073c.196.195.293.451.293.708 0 .256-.097.511-.293.707l-11.216 11.219h5.514v2h-12.343zm3.657-2l-5.486-5.486-1.419 1.414 4.076 4.072h2.829zm6.605-17.581l-10.677 10.68 5.658 5.659 10.676-10.682-5.657-5.657z"/></svg>
                            </div>
                            <button id="draw-clear" class="h-8 bg-blue-700 text-white py-1 px-3 rounded-md ml-3">
                                <div class="flex justify-center items-center">
                                    Clear Board
                                    <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </div>
                            </button>
                            <div class="flex space-x-4 h-6 my-auto ml-3">
                                <div class="h-6 w-6 rounded-full bg-green-500" id="green" onclick="color(this)"></div>
                                <div class="h-6 w-6 rounded-full bg-blue-500" id="blue" onclick="color(this)"></div>
                                <div class="h-6 w-6 rounded-full bg-red-500" id="red" onclick="color(this)"></div>
                                <div class="h-6 w-6 rounded-full bg-yellow-200" id="yellow" onclick="color(this)"></div>
                                <div class="h-6 w-6 rounded-full bg-black" id="black" onclick="color(this)"></div>                    
                            </div>
                        </div>
                    </div>
                {% endif %}    
                <div class="flex h-full items-center justify-center rounded-lg" id="board">
                    <canvas id="draw-canvas"></canvas>
                </div>
            </div>
            <div class="class-details h-16 bg-gray-100 flex justify-center rounded-lg items-center">
                <div class="flex w-full p-2 justify-between">
                    <div class="p-3 flex items-center" x-data="{ tooltip: false }"> 
                        {{ classroom.name }} 
                        <svg x-on:click="tooltip = !tooltip"
                            xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-2 text-gray-400" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <div x-show="tooltip" @click="tooltip = false" class="fixed inset-0 h-full w-full z-10"></div>
                        <div class="relative" x-cloak x-show.transition.origin.top="tooltip">
                            <div class="absolute top-0 z-10 shadow-md text-gray-600 w-96 p-5 -mt-4 ml-24 text-sm leading-tight transform -translate-x-1/2 -translate-y-full bg-white rounded-lg leading-normal">
                                <span class="font-bold text-black"> Class name: </span>  {{ classroom.name }} <br>
                                <span class="font-bold text-black"> Class ID: </span>  {{ classroom.slug }} <br>
                                <span class="font-bold text-black"> Created by: </span>{{ classroom.created_by.first_name }} {{ classroom.created_by.last_name }}, {{ classroom.created_by }} <br>
                                <span class="font-bold text-black"> Created on: </span> {{ classroom.timestamp }} <br>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-center space-x-4">
                        <a type="button" href="{% url 'home' %}" class="p-3 flex justify-center items-center bg-red-500 hover:bg-red-700 rounded-lg text-white text-sm font-bold">
                            Leave Class
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2M5 3a2 2 0 00-2 2v1c0 8.284 6.716 15 15 15h1a2 2 0 002-2v-3.28a1 1 0 00-.684-.948l-4.493-1.498a1 1 0 00-1.21.502l-1.13 2.257a11.042 11.042 0 01-5.516-5.517l2.257-1.128a1 1 0 00.502-1.21L9.228 3.683A1 1 0 008.279 3H5z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat flex w-1/5 h-screen flex-col pt-4 pb-4 pr-4" x-data="setup()">
            <div class="max-h-16 bg-gray-100 flex justify-center rounded-lg items-center mb-4">
                <ul class="flex justify-center items-center ">
                    <template x-for="(tab, index) in tabs" :key="index">
                        <li class="cursor-pointer py-2 px-2 text-gray-500 text-sm border-b-2"
                            :class="activeTab===index ? 'text-blue-700 text-sm border-blue-700' : ''" @click="activeTab = index"
                            x-text="tab"></li>
                    </template>
                    <span class="px-2 pb-0.5 pt-1 bg-black text-white rounded-lg text-xs" id="user-count"></span>
                </ul>
            </div>
            <div x-show="activeTab===0" class="relative h-full bg-gray-100 rounded-lg">
                <div class="bg-gray-100 rounded-lg">
                    <div class="message overflow-y-scroll text-sm pb-20" style="height: 87vh;" id="chat-log">
                        {% for message in messages %}
                        <div class="message px-4 py-2">
                            <div class="flex justify-between">
                                <div class="text-gray-600 text-xs mb-0.5">
                                    <small>
                                        {{ message.sent_by }}
                                    </small>
                                </div>
                                <div class="text-gray-400 text-xs ">
                                    <small>
                                        {{ message.timestamp }}
                                    </small>
                                </div>
                            </div>
                            <div class="py-2 px-4 rounded-bl-lg rounded-br-lg rounded-tr-lg  bg-blue-600 text-white max-w-max">
                                {{ message.message }}
                                
                            </div>
                            
                        </div>
                        {% endfor %}
                    </div>
                </div>                
                <div class="absolute w-full bottom-0 chat-form h-16 bg-gray-200 flex justify-center rounded-b-lg items-center">
                    <div class="flex  p-2">
                        <input type="text" id="chat-message-input" name="message" placeholder="Eneter message" class="p-3 w-auto bg-transparent w-full text-sm" />
                        <button id="chat-message-submit"
                            class="w-28 flex justify-center items-center bg-blue-700 rounded-lg text-white text-sm">
                            Send
                            <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-4 w-4" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M14 5l7 7m0 0l-7 7m7-7H3" />
                            </svg>
                            
                        </button>
                    </div>
                </div>
            </div>
            <div x-show="activeTab===1" class="h-full bg-gray-100 p-2 rounded-lg overflow-y-scroll" id="participants">
                
            </div>
        </div>

    </div>



    {{ classroom.slug|json_script:"room-name" }}
    {{ request.user.username|json_script:"user-name" }}
    <script src="{% static 'classroom.js' %}"></script>
    <script>
        
        let drawSocket = new WebSocket('ws://' + window.location.host + '/ws/drawshare/' + roomName + '/');        

        let canvas, ctx, flag = false, prevX = 0, currX = 0, prevY = 0, currY = 0, dot_flag = false;
        let x = "Black", y = 2;
        
        let teacher = "{{ classroom.created_by }}";
        let user = "{{ request.user }}";

        function updateCanvas(){
            let canvas = document.getElementById("draw-canvas");
            // console.log(78 * window.innerWidth / 100, 85 * window.innerHeight / 100 || 766);

            canvas.width = 78 * window.innerWidth / 100;
            canvas.height = 82 * window.innerHeight / 100 || 766;
            canvas.style.width = 78 * window.innerWidth / 100;
            canvas.style.height = 82 * window.innerHeight / 100 || 766;
        }

        window.addEventListener('resize', updateCanvas);

        if(teacher === user){
            
            window.onload = function() {
                canvas = document.getElementById("draw-canvas");
                ctx = canvas.getContext("2d");
                updateCanvas();
                

                w = canvas.width;
                h = canvas.height;
            
                canvas.addEventListener("mousemove", function (e) {
                    findxy('move', e)
                }, false);
                canvas.addEventListener("mousedown", function (e) {
                    findxy('down', e)
                }, false);
                canvas.addEventListener("mouseup", function (e) {
                    findxy('up', e)
                }, false);
                canvas.addEventListener("mouseout", function (e) {
                    findxy('out', e)
                }, false);
            }

            document.querySelector('#draw-clear').onclick = function(){
                clear_draw()
            };

            function color(obj) {
                switch (obj.id) {
                    case "green":
                        x = "green";
                        break;
                    case "blue":
                        x = "blue";
                        break;
                    case "red":
                        x = "red";
                        break;
                    case "yellow":
                        x = "yellow";
                        break;
                    case "black":
                        x = "black";
                        break;
                    case "white":
                        x = "white";
                        break;
                }
                if (x == "white") y = 20;
                else y = 2;
            
            }
            
            function draw() {
                ctx.beginPath();
                ctx.moveTo(prevX, prevY);
                ctx.lineTo(currX, currY);
                ctx.strokeStyle = x;
                ctx.lineWidth = y;
                ctx.stroke();
                ctx.closePath();

                drawSocket.send(JSON.stringify({
                    'color': x,
                    'width': y,
                    'x1': prevX,
                    'y1': prevY,
                    'x2': currX,
                    'y2': currY
                }));               
            }
            
            function erase() {
                var m = confirm("Want to clear");
                if (m) {
                    ctx.clearRect(0, 0, w, h);
                    document.getElementById("canvasimg").style.display = "none";
                }
            }

            function findxy(res, e) {
                if (res == 'down') {
                    prevX = currX;
                    prevY = currY;
                    currX = e.clientX - canvas.offsetLeft;
                    currY = e.clientY - canvas.offsetTop;
            
                    flag = true;
                    dot_flag = true;

                    if (dot_flag) {
                        ctx.beginPath();
                        ctx.fillStyle = x;
                        ctx.fillRect(currX, currY, 2, 2);
                        ctx.closePath();
                        dot_flag = false;

                        drawSocket.send(JSON.stringify({
                            'color': x,
                            'width': 2,
                            'x1': prevX,
                            'y1': prevY,
                            'x2': 2,
                            'y2': 2
                        }));
                    }
                }
                if (res == 'up' || res == "out") {
                    flag = false;
                }
                if (res == 'move') {
                    if (flag) {
                        prevX = currX;
                        prevY = currY;
                        currX = e.clientX - canvas.offsetLeft;
                        currY = e.clientY - canvas.offsetTop;

                        draw();
                    }
                }
            }
            
            function clear_draw(){
                var m = confirm("Want to clear");
                if (m) {
                    let our_canvas = document.getElementById("draw-canvas");
                    let ctx = our_canvas.getContext("2d");
                    drawSocket.send(JSON.stringify({
                        'color': x,
                        'width': y,
                        'x1': -1,
                        'y1': -1,
                        'x2': -1,
                        'y2': -1
                    }));
                    ctx.clearRect(0,0, our_canvas.width, our_canvas.height);
                }
            }
        } else {
            updateCanvas();
            drawSocket.onmessage = function(e) {
                let data = JSON.parse(e.data);
                let color = data['color'];
                let width = data['width'];
                let x1 = data['x1'];
                let y1 = data['y1'];
                let x2 = data['x2'];
                let y2 = data['y2'];
                let our_canvas = document.getElementById("draw-canvas");
                let ctx = our_canvas.getContext("2d");

            
                if(x1 == -1 && x2 == -1 && y1 == -1 && y2 == -1){
                    ctx.clearRect(0,0, our_canvas.width, our_canvas.height);
                }
                if(x2 == 2 && y2 == 2){
                    ctx.beginPath();
                    ctx.fillStyle = x;
                    ctx.fillRect(x1, y1, 2, 2);
                    ctx.closePath();
                    dot_flag = false;
                }else{
                    ctx.beginPath();
                    ctx.moveTo(x1, y1);
                    ctx.lineTo(x2, y2);
                    ctx.lineWidth = width;
                    ctx.strokeStyle = color;
                    ctx.stroke();
                    ctx.closePath();
                }
            };
        }
        
    </script>
    
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

</body>

</html>